[Unit]
Description=V2X Alert Broadcaster (RSU)

After=network-online.target
Wants=network-online.target


[Service]

EnvironmentFile=/opt/v2x/server.env

WorkingDirectory=/opt/v2x

ExecStart=/usr/bin/python3 /opt/v2x/server.py --repeat \
  --hmac-key ${V2X_KEY} --mcast ${MCAST} --port ${PORT} --hz ${HZ} \
  --type ${TYPE} --severity ${SEVERITY} --distance-m ${DIST} \
  --suggest ${SUGGEST} --road ${ROAD} --lat ${LAT} --lon ${LON} \
  --iface ${IFACE}
Restart=always

RestartSec=2


[Install]

WantedBy=multi-user.target

